#video{
	border: 10px solid red;
    opacity: 0.6;
    box-shadow: 12px 9px 13px rgba(255, 0, 255, 0.75);
	top:80%;
	bottom:100%
}
.loginbtn,.signupbtn {
    background-color: rgba(1,1,1,0.5);
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
	position: relative;
	right: 50%;
	left: 82%;
}
.loginbtn:hover , .signupbtn:hover {
    background-color: red;
    color: white;
}
body{
	background: url(../IMAGES/main_home_page_image.png) no-repeat center center fixed;    
    background-size:cover;
}