header{ height:70px;background-color:red; }
		body{ font-family:Trebuchet MS;}
		header{ 
			font-family:Trebuchet MS;
			color:white;font-size:40px;
			height:40px;
			padding:10px 10px;margin:0px;
		}
		.textbox{
			border:5px;border-radius:5px;
			margin:10px;padding:5px;
			width:300px;height:30px;
			font-size:10px;
			background-color:rgb(240, 240, 240);
		}
		.home{
			border:red;border-radius:5px;
			background-color:red;
			width:100px;height:40px;
			font-size:20px;color:white;
			position:absolute;
			top:25px;left:10px;
		}
		.btn{
			border-radius:5px;
			width:100px;height:30px;
			font-size:20px;
		}
		.btn:hover{
			border-radius:5px;
			background-color:red;
			border:red;
			color:white;
		}
		.textbox:hover{
			border-radius:5px;
			box-shadow:2px 2px 2px;
			border:10px red;
		}
		.homebtn:hover{
			border:red;border-radius:5px;
			background-color:white;
			color:Red;
		}
		.logoutbtn{
			border:red;border-radius:5px;
			background-color:red;
			width:100px;height:40px;
			font-size:20px;color:white;
		}
		.logoutbtn:hover{
			border:red;border-radius:5px;
			background-color:white;
			color:Red;
		}
		.likebtn{
			border-radius:5px;
			font-size:20px;
			text-align:center;
		}
		.bg{
			background-image: url('../VIDEOS/network.gif');
			height: 100%; 
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.invalidInput{
			color:red;
			font-family:Trebuchet MS;
			font-size:15px;
		}
		.clear{
			clear:both;
		}
		.posts{
			width:700px;height:500px;
			border:2px;border-radius:3px;
			box-shadow:3px 3px 3px 3px lightgray;
			position:relative;
			top:20px;left:70px;
		}
		.bg_login{
			background-image: url('../IMAGES/login.png');
			height:650px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.friendstab{
			background-color:rgb(300,300,300);
			width:300px;height:800px;
			border:4px solid red;border-radius:15px;
			position:absolute;
			top:70px;right:5px;"