*{
	font-family:Trebuchet MS;
}
	input[type=text], input[type=password], input[type=email] {
    width: 80%;
    padding: 10px;
    margin: 8px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}
.container{
	width:120%;
    margin-left:auto;
    margin-right:auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
input:hover {
	box-shadow: 5px 5px 5px ;
	border:1px solid red;
}
.cancelbtn,.signupbtn {
    background-color: rgba(1,1,1,0.5);
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
	position: relative;
	right: 20%;
	left: 40%;
}
.cancelbtn:hover , .signupbtn:hover {
    background-color: red;
    color: white;
}
body{
	background: url(signlog.png) no-repeat center center fixed;    
    background-size:cover;
}